/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo básico do body */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #5e5e5e; /* Cor de fundo mais clara */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333; /* Cor de texto mais suave */
}

/* Navbar */
.navbar {
    background-color: #f8a5c2; /* Rosa suave */
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 8px 8px 0 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed; /* Fixa a navbar no topo */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 8;
}

/* Logo */
.navbar .logo {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

/* Menu na Navbar */
.navbar .menu {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

/* Botões */
.navbar .menu a {
    color: #fff;
    text-decoration: none;
    background-color: #e8a5b8; /* Rosa mais suave para os botões */
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 4px; /* Menos arredondado para dar aspecto moderno */
    transition: 0.3s;
    display: inline-block;
}

/* Efeito de hover no botão */
.navbar .menu a:hover {
    background-color: #da888d; /* Cor de hover para os botões */
}

/* Botão Dropdown */
.navbar .menu .dropdown {
    position: relative;
}

.navbar .menu .dropdown button {
    background-color: #e8a5b8; /* Cor de fundo do botão do dropdown */
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 4px; /* Menos arredondado */
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.navbar .menu .dropdown button:hover {
    background-color: #da888d;
}

.navbar .menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
}

.navbar .menu .dropdown:hover .dropdown-content {
    display: block;
}

.navbar .menu .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.navbar .menu .dropdown-content a:hover {
    background-color: #f8a5c2;
}

/* Estilo para o Modal */
.modal {
    display: none; /* Inicialmente o modal está escondido */
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

/* Modal aberto */
.modal.open {
    display: flex; /* Exibe o modal quando a classe open é adicionada */
}

/* Conteúdo do Modal */
.modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    width: 400px; /* Ajuste a largura conforme necessário */
    text-align: left;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Botão de Fechar */
#fecharModalServico {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #aaa;
}

/* Formulário */
form {
    background-color: #f8e4f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: left;
}

label {
    font-size: 16px;
    color: #333;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0 20px 0;
    border: 1px solid #e3a1b4;
    border-radius: 8px;
    font-size: 16px;
    background-color: #fafafa;
    transition: 0.3s;
}

input:focus {
    border-color: #f8a5c2;
    background-color: #fff;
}

/* Botões */
button {
    width: 100%;
    padding: 12px;
    background-color: #f8a5c2;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background-color: #e27693;
}

button:focus {
    outline: none;
}

/* Estilo do conteúdo do menu suspenso */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropdown-btn {
    background-color: white;
    color: #f8a5c2;
    border: #f8a5c2;
    border-style: solid;
    width: 120px;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown .dropdown-btn:hover {
    background-color: #f8a5c2;
    color: white;
    border: #f8a5c2;
    border-style: solid;
    width: 120px;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 120px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.fc-toolbar {
    padding: 20px;
}

#calendar {
    max-width: 100%;
    margin-top: 550px;
    margin-left: 50px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Barra lateral */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 68px;
    left: 0;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: top; /* Centraliza os itens verticalmente */
    align-items: center; /* Centraliza os itens horizontalmente */
    padding-top: 40px;
    padding: 10px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    border-radius: 4px;
    height: 60px;
    width: 250px; /* Garante que os itens ocupem toda a largura da sidebar */
    justify-content: center;
    display:flex;
    align-items: center;
}

.sidebar a:hover {
    background-color: #444;
}

.main-content {
    margin-left: 250px;
}

.sidebar p {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    width: 100%; /* Garante que os itens ocupem toda a largura da sidebar */
    text-align: center; /* Centraliza o texto dentro dos links */
    font-weight: bold;
}

.sidebar .AbaAtual{
    margin: 0px;
    padding: 0px;
    color: white;
    text-decoration: none;
    border-radius: 0px;
    height: 60px;
    width: 250px; /* Garante que os itens ocupem toda a largura da sidebar */
    justify-content: center;
    display:flex;
    align-items: center;
    background-color: #5e5e5e; /* Cor de fundo mais clara */
}

/* Barra de ferramentas do FullCalendar */
.fc-toolbar {
    width: 100% !important;
}

/* Linha 1 - Título centralizado */
.fc-toolbar .fc-center {
    text-align: center !important; /* Centraliza o título */
    width: 100% !important;
    padding: 10px 0 !important;
    margin-top: 30px;
}

/* Linha 2 - Botões Prev e Next à esquerda + Today à direita */
.fc-toolbar .fc-header-toolbar {
    display: flex !important;
    justify-content: space-between !important; /* Separa os itens à esquerda e à direita */
    width: 100% !important;
}

/* Botões Prev e Next à esquerda */
.fc-toolbar .fc-left {
    display: flex !important;
    align-items: center !important; /* Alinha os itens à esquerda */
}

/* Botão Today à direita */
.fc-toolbar .fc-right {
    display: flex !important;
    align-items: center !important; /* Alinha o botão à direita */
}

/* Estilo para os botões Prev e Next */
.fc-prev-button, .fc-next-button {
    background-color: white !important;
    color: #f8a5c2 !important;
    border: 2px solid #f8a5c2 !important;
    border-radius: 5px !important;
    margin: 5px !important;
    padding: 8px 15px !important;
    cursor: pointer !important;
    width: 120px !important;
}

/* Hover para os botões Prev e Next */
.fc-prev-button:hover, .fc-next-button:hover {
    background-color: #f8a5c2 !important;
    color: white !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1) !important;
    transition: all 0.3s ease !important;
}

/* Estilo para o botão Today */
.fc-toolbar .fc-today-button {
    background-color: white !important;
    color: #f8a5c2 !important;
    border: 2px solid #f8a5c2 !important;
    border-radius: 5px !important;
    margin: 5px !important;
    padding: 8px 15px !important;
    cursor: pointer !important;
    width: 120px !important;
}

/* Hover para o botão Today */
.fc-toolbar .fc-today-button:hover {
    background-color: #f8a5c2 !important;
    color: white !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1) !important;
    transition: all 0.3s ease !important;
}

.fc-view-container{
    padding: 20px;
}

/* Modal escondido por padrão */
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

/* Modal visível quando a classe 'open' é adicionada */
.modal.open {
    display: flex;
}

/* Estilo para a área do modal */
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    margin: auto;
}

       /* Estilos para a mensagem de sucesso */
.alert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 1000;
    display: inline-block;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Para a classe de sucesso */
.alert-success {
    color: green;
    font-weight: bold;
}

/* Título do container */
.total-container{
    width: 1150px;
    height: 730px;
    background-color: white;
    margin-top: 240px;
    margin-left: 25px;
    margin-right: 5px;
    padding:0px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.container-title {
    height: 100px;
    width: 100%;
    font-size: 24px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px; /* Espaço abaixo do título */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-content: center;
    text-align: center;
    position: sticky;
    margin-top: 0px;
    top: 0px; /* Fixação no topo */
    background-color: #fff; /* Para evitar que o título desapareça ao rolar */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
    z-index: 1;
}

.total-container input{
    max-width: 100%;
    height: 50px;
    margin: 10px;
}

/* Container para a área dos cards */
.card-container {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin: 20px;
    width: 95%;
    height: 650px;
    max-height: 500px; /* Ajuste a altura do container conforme necessário */
    display: block; /* Define o layout como uma lista */
    flex-direction: column;
    background-color: #f8f8f8;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Habilita a rolagem vertical */
}

/* Estilo da área onde os cards são exibidos */
.card-area {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Ajuste para ficar abaixo do título */
    max-width: 100%; /* Largura total do container */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Estilo dos cards */
.card {
    display: flex;
    flex-direction: row; /* Layout em paisagem: largura maior que altura */
    width: 100%; /* 100% da largura do container */
    height: 100px; /* Altura fixa para os cards */
    max-width: 1000px; /* Limita a largura do card */
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: 0.3s; /* Transição suave */
    margin: 0 auto; /* Centraliza os cards dentro do container */
    justify-content: space-between; /* Alinha o conteúdo do card */
    gap: 15px;
}

/* Efeito de hover para os cards */
.card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Efeito de sombra ao passar o mouse */
    transform: scale(1.02); /* Leve aumento de tamanho ao passar o mouse */
}

/* Estilo do título dentro do card */
.card h5 {
    margin: 0;
    font-size: 18px;
    color: #333;
    font-weight: bold;
    align-content: center;
    text-align: center; /* Centraliza o título dentro do card */
    flex: 1; /* Faz com que o título ocupe o espaço disponível */
}

.card p {
    margin: 0;
    font-size: 18px;
    color: #333;
    text-align:left; /* Centraliza o título dentro do card */
    flex: 1; /* Faz com que o título ocupe o espaço disponível */
}

/* Empilhando a Duração e Observação */
.card .duração, .card .observacao {
    margin: 5px 0;
    color: #666;
    font-size: 14px;
    text-align: center; /* Centraliza o texto */
}

/* Adicionando uma borda inferior no card */
.card .card-footer {
    width: 100%;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo do botão dentro do card */
.card .btn {
    background-color: hsl(339, 86%, 81%);
    color: white;
    padding: 8px 15px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.card .btn:hover {
    background-color: #e27693;
}

/* Estilo do link para adicionar um card */
.card-area .add-card {
    text-align: center;
    font-size: 1.2em;
    color: #f8a5c2;
    cursor: pointer;
    transition: 0.3s;
}

.card-area .add-card:hover {
    color: #e27693;
    text-decoration: underline;
}

/* Adiciona espaçamento nas imagens, se houver dentro do card */
.card img {
    width: 120px; /* Largura fixa para a imagem */
    height: auto;
    margin-right: 15px; /* Espaçamento entre a imagem e o texto */
    border-radius: 8px;
}

.card button {
    margin: 3px;
    width: 200px;
}

.card-container{
    padding: 0px;
}

.cliente-card {
    width: 100%;
    height: 100px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    cursor: pointer;
    padding: 10px;
    
}

.titulo {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background: #ffffff;
    padding: 10px;
    margin: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
}

.conteudo {
    display: none; /* Oculta o conteúdo inicialmente */
    padding: 10px;
}

.cliente-card.expanded .conteudo {
    display: block; /* Exibe o conteúdo ao expandir */
}

.expanded {
    height: 200px;
}

.card-buttons{
    margin: 5px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

/* Estilo para o menu suspenso do calendário */
.calendar-dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 150px;
    top: 50px; /* Distância do topo do calendário */
    right: 10px;
    z-index: 1000;
}

.calendar-dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.calendar-dropdown a:hover {
    background-color: #f0f0f0;
}

/* Estilo para o botão "Visualização" */
.fc-view-button {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    margin-right: 10px;
}

.fc-view-button:hover {
    background-color: #f0f0f0;
}