<%- include('./include/head') %>
</head>
<body>
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="logo"></div>
        <a href="/agendamentos">Agendamentos</a>
        <p class="AbaAtual">Clientes</p>
        <a href="/servicos">Serviços</a>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <div class="navbar">
            <div class="logo">Painel de Agendamentos</div>
            <div class="menu">
                <a href="#" id="abrirModalCliente">Adicionar Cliente</a>
            </div>
        </div>

        <!-- Modal de Adicionar/Editar Cliente -->
        <%- include('./include/modalEditCliente') %>
        
        <!-- Lista de Clientes -->
        <%- include('./include/listaClientes') %>
    
        <!-- Mensagem de Sucesso -->
        <div id="mensagemSucesso" class="alert" style="display: none;"></div>
    </div>

    <script src="/assets/js/clientes.js"></script>
</body>
</html>
