<%- include('./include/head') %>
<link rel="stylesheet" href="/assets/vendor/fullcalendar.min.css" />
</head>
<body>

    <!-- Menu Lateral -->
    <div class="sidebar">
        <div class="logo"></div>
        <p class="AbaAtual">Agendamentos</p>
        <a href="/clientes">Clientes</a>
        <a href="/servicos">Serviços</a>
    </div>

    <!-- Conteúdo Principal -->
    <div class="main-content">
        <!-- Navbar -->
        <div class="navbar">
            <div class="logo">Painel de Agendamentos</div>
            <div class="menu">
                <a href="#" id="abrirModalAgendamento">Adicionar Agendamento</a>
            </div>
        </div>

        <!-- Calendário -->
        <div id="calendar"></div>

        <!-- Modal para adição de agendamento-->
        <%- include('./include/modalAddAgendamento') %>

        <!-- Modal para Editar Agendamento -->
        <%- include('./include/modalEditAgendamento') %>

    </div>


<!-- Scripts -->
<script src="/assets/js/agendamento.js"></script> <!-- seu código Webpack -->
<script src="/assets/vendor/jquery.min.js"></script>
<script src="/assets/vendor/moment.min.js"></script>
<script src="/assets/vendor/fullcalendar.min.js"></script>

</body>
</html>
