<div id="modalEditarAgendamento" class="modal">
    <div class="modal-content">
        <h4>Editar Agendamento</h4>
        <form id="formEditarAgendamento">
            <label for="editar_cliente_id">Cliente</label>
            <select id="editar_cliente_id" name="cliente_id" required>
                <% clientes.forEach(cliente => { %>
                    <option value="<%= cliente.id %>"><%= cliente.nome %></option>
                <% }) %>
            </select>

            <label for="editar_servico_id">Serviço</label>
            <select id="editar_servico_id" name="servico_id" required>
                <% servicos.forEach(servico => { %>
                    <option value="<%= servico.id %>"><%= servico.nome %></option>
                <% }) %>
            </select>

            <label for="editar_data_hora">Data e Hora</label>
            <input type="datetime-local" id="editar_data_hora" name="data_hora" required>

            <input type="hidden" id="editar_agendamento_id" name="id">

            <button type="submit" id="saveEditButton">Salvar Alterações</button>
            <button type="button" id="fecharModalEditar">Cancelar</button>
        </form>
        <button type="button" id="excluirAgendamentoButton">Excluir Agendamento</button>
    </div>
</div>
