        <!-- Modal para Adicionar Agendamento -->
        <div id="modalAdicionarAgendamento" class="modal">
            <div class="modal-content">
                <h4>Adicionar Agendamento</h4>
                <form id="formAdicionarAgendamento">
                    <label for="cliente_id">Cliente</label>
                    <select id="cliente_id" name="cliente_id" required>
                        <% clientes.forEach(cliente => { %>
                            <option value="<%= cliente.id %>"><%= cliente.nome_completo %></option>
                        <% }) %>
                    </select>

                    <label for="servico_id">Serviço</label>
                    <select id="servico_id" name="servico_id" required>
                        <% servicos.forEach(servico => { %>
                            <option value="<%= servico.id %>"><%= servico.nome %></option>
                        <% }) %>
                    </select>

                    <label for="data_hora">Data e Hora</label>
                    <input type="datetime-local" id="data_hora" name="data_hora" required>

                    <button type="submit" id="saveButton">Salvar</button>
                    <button type="button" id="fecharModalAgendamento">Cancelar</button>
                </form>
            </div>
        </div>